<br>
<div class="container mt-5" id="fondo">
    <h1 class="title"> {{Titulo}}</h1>
   

  <br>
     <form class="form" [formGroup]="productForm" (submit)="addProduct()">
    <input type="hidden" formControlName = "id">

        <div class="container mb-3">


            <input type="text" formControlName="codigo" class="form-control" placeholder="Ingresa el codigo de el producto " required>
          
       </div>
              <div class="container mb-3">

                <input type="text" formControlName="descripcion" class="form-control" placeholder="descripcion" required>
             
                    </div>

                    <div class="container mb-3">

                        <input type="text" formControlName="imagen" class="form-control" placeholder="imagen" required>
                     
                            </div>

                            <div class="container mb-3">

                                <input type="number" formControlName="porcentajeIva" class="form-control" placeholder="porcentaje Iva" required>
                             
                                    </div>

                                    <div class="container mb-3">

                                        <select  class="form-control"   formControlName="produtoParaLaVenta" >                                     
                                            <option value="ture">SI</option>
                                            <option value="false">NO</option>
                                        </select>
                                        </div>
                
                  
                
               
             <div class="container mb-3">
           <button class="btn btn-dark btn-sm"> Enviar</button>
            <button style="margin-left: 5px;" class="btn btn-dark btn-sm" routerLink="/"> Volver</button>

        </div>

        <br>
    </form>
</div>